@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Cormorant+Garamond:ital,wght@1,300&family=Heebo:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&family=Raleway:ital,wght@0,400;0,900;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,500;1,400&family=Titillium+Web&display=swap");

body {
  font-family: "Poppins";
  background-color: #3f3f3f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
